<div class="container">
  <h3>Edit dish</h3>
    <div class="col-md-8 mx-auto">

      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [(ngModel)] = "dish.name" name="name">
      </div>

      <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" [(ngModel)]= "dish.description" name="description">
      </div>

      <div class="form-group">
        <label>Category:</label>
        <select class="form-control" [(ngModel)]="dish.category.name" name="category">
          <option *ngFor="let cat of category">{{cat.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Calories:</label>
        <input type="number" class="form-control" [(ngModel)]="dish.calories" name="calories">
      </div>

      <div class="form-group">
        <label>Weight:</label>
        <input type="number" class="form-control" [(ngModel)]="dish.weight" name="weight">
      </div>

      <div class="form-group">
        <label>Preparingtime</label>
        <input type="number" class="form-control" [(ngModel)]="dish.preparingtime" name="preparingtime">
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" [(ngModel)]="dish.price" name="price">
      </div>


      <div class="form-group">
        <label>Tags:</label>
        <div class="form-control">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="inputTag" (keyup.enter)="addTag()" placeholder="Submit tag by tapping enter" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="addTag()" type="button">Add</button>
            </div>
          </div>
          <div class="container row">
            <div *ngFor="let tag of dish.tags" class="tag"><span>{{tag.title}}</span>
              <i class="fa fa-close" (click)="removeTag(tag.title)"></i></div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <a class="btn btn-success" (click)="editDish()"> Save </a>
      </div>

  </div>

