
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr style="text-align: center;">
      <th>#</th>
      <th>Name</th>
      <th> <a [routerLink]="'/admin/dish/add'"><button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>   New</button> </a>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let di of dish" >
      <td>{{di.id}}</td>
      <td>{{di.name}}</td>
<!--      <td>
        <a [routerLink]="['/admin/dish/tweakAvail/', di.id]" class="btn btn-info"><span class="fa fa-pen">Avalibility</span></a>
      </td>-->
      <td>
        <a [routerLink]="['/admin/dish/edit/', di.id]" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteDish(di)"> <i class="fa fa-trash"></i></button>
      </td>
    </tr>
    </tbody>
</table>
</div>
