<div class="container">
  <div class=row>
  <div class="col-md-6">
  <input type="text" placeholder="Category name" class="form-control" [(ngModel)]="categoryName">
  </div>
  <div class="col-md-2">
    <div *ngIf="!category ">
    <a href="/admin/category/all" placeholder="Category name" button class="btn btn-success" (click)="addCategory()" [(ngModel)]="categoryName">Add</a>
  </div>

    <!--<div ng-if= "category.name == '' " href="/admin/category/all" placeholder="Category name" button class="btn btn-success" (click)="addCategory()" [(ngModel)]="categoryName">Add </div>-->
    <!--<div ng-if="category.name != '' " href="/admin/category/all" button class="btn btn-success" (click)="editCategory()" [(ngModel)]="categoryName">Change</div>-->
    <!--<div ng-if= "category.name.length == 0 " href="/admin/category/all" placeholder="Category name" button class="btn btn-success" (click)="addCategory()" [(ngModel)]="categoryName">Add </div>-->
    <!--<div ng-if= "category.name.length > 0 " > Change </div>-->


  </div>
  </div>
</div>
