<div class="container">
  <table class="table">
    <thead>
    <tr style="text-align: center;">
      <th>Name</th>
      <th>Weight</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderedDish of orderedDishes">
          <td>{{orderedDish.dish.name}}</td>
          <td>{{orderedDish.quantity}}</td>
          <!-- <td>
            <*ngif test="${dish.status.name=='preparing'}">
              <a href="/cook/gotit/${dish.id}" class="btn btn-warning" style="margin-bottom: 10%">
                Got it!<span class="fa fa-check"></span></a>
              </a>
            </ngif>
            <*ngif test="${dish.status.name=='cooking'}">
              <a href="/cook/done/${dish.id}" class="btn btn-success" style="margin-bottom: 10%">
                Done<span class="fa fa-check"></span></a>
            </ngif>
          </td> -->
        </tr>
    </tbody>
  </table>
</div>
