<div class="container">
  <table class="table table-hover">
    <thead>
    <tr style="text-align: center;">
      <th>#</th>
      <th>Name</th>
      <th colspan="2" > <a href="/admin/role/new"><button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>   New</button> </a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let role of roles">
      <tr>
        <td>{{role.id}}</td>
        <td>{{role.name}}</td>
        <td>
          <button type="button" class="btn btn-danger fa fa-trash-o" data-toggle="modal" data-target="#exampleModal"
                  data-whatever="${role.name}" data-href="/admin/role/delete/${role.id}">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
