<script>
  function formSubmit() {
    document.getElementById("logoutForm").submit();
  }
</script>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/welcome"><img src="/images/logo.png"></a>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/user/all">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/dish/all">Dish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category/all">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/order">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/role/all">Role</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/status/all">Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/reviews">Reviews</a>
      </li>
    </ul>
    <form action="#" class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button type="button" class="btn btn-default btn-lg nav-button btn-nav-search" style="margin-top: 10px">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <%--            <a class="nav-link a-nav" href="#">Log in <i class="fa fa-user" aria-hidden="true"></i></a>--%>
  </div>
</nav>
