<script>
  function formSubmit() {
    document.getElementById("logoutForm").submit();
  }
</script>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/welcome']"><img src="/assets/images/logo.png"></a>
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/user/all']" >Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin/dish/all']">Dish</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin/category/all']">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin/order/all']" >Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/role/all']" >Role</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/status/all']" >Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/table']" >Set Table</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2"  name="search" [(ngModel)]="search" type="text" placeholder="Search dish"/>
      <button class="btn btn-default btn-lg nav-button btn-nav-search" [routerLink]="['/menu/search', search]">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div *ngIf="isAuthenticated();else loginblock">
      <a class="a-nav nav-link" [routerLink]="['/login']" (click)="logout()">Logout</a>
    </div>
    <ng-template #loginblock>
      <a class="navbar-nav mr-auto nav-link" [routerLink]="['/login']" >Log in <i class="fa fa-user" aria-hidden="true"></i></a>
    </ng-template>
  </div>
</nav>
