<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/assets/images/CUT3M37NQM.jpg" alt="Carry" class="fluid" width="100%">
          <div class="carousel-caption">
              <h1>Welcome!</h1>
              <br><br><br>
              <h3>Italian pizza</h3>
          </div>
      </div>
      <div class="carousel-item">
            <img src="/assets/images/CUTsauteed-shrimp-topped-with-roasted-red-pepper-sauce-in-pan_2.jpg" alt="Shrimps"
               class="fluid" width="100%">
          <div class="carousel-caption">
              <h1>Welcome!</h1>
              <br><br><br>
              <h3>Sauteed shrimps</h3>
          </div>
      </div>
      <div class="carousel-item">
          <img src="/assets/images/CUTharissa.jpg" alt="Harissa" class="fluid" width="100%">
          <div class="carousel-caption">
              <h1>Welcome!</h1>
              <br><br><br>
              <h3>Harissa fries</h3>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container">
  <div class="row">
      <a [routerLink]="'/waiter/tables'" class="btn btn-warning btn-lg btn-block">Waiter</a>
      <a [routerLink]="'/cook'"class="btn btn-warning btn-lg btn-block">Cook</a>
      <a [routerLink]="'/admin'" class="btn btn-warning btn-lg btn-block">Administrator</a>
      <a [routerLink]="'/menu/soups'"class="btn btn-warning btn-lg btn-block">User</a>

  </div>
</div>
<!-- Modal -->

<style>
  .row {
      padding: 15pt;
  }

  .btn-block {
      padding: 10pt;
  }

</style>
