
<footer class="footer">
  <div class="container">
    <span class="add-text"> RestHub Inc. 	&#169;</span>
    <a href="#" class="add-text">Contact us </a>
    <span class="align-middle">Join us
              <button class="i-button" style="margin-left: 20px">
                  <i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button class="i-button"><i class="fa fa-twitter" aria-hidden="true"></i></button>
            <button class="i-button"><i class="fa fa-instagram" aria-hidden="true"></i></button>
        </span>
    <a href="#" class="add-text">Help</a>
  </div>
</footer>
