body {
    margin-bottom: 60px;
}

.i-check{
  color: #ffffff !important;
}

.dropdown-item {
  cursor: pointer;
}

.tab-pane {
    overflow-y: scroll;
    width: 100%;
}

.nav-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-form {
    margin-right: 10px;
}

.a-nav {
    color: darkgrey;
}

.a-nav:hover {
    color: lightgrey;
}

.card-deck .card {
    max-width: 250px;
}

.btn-nav-search {
    margin-top: 10px;
}

.i-button {
    width: 30px;
    height: 30px;
    border: solid black 2px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
}

.left-span {
    text-align: left;
}

.footer {
    height: auto;
    background-color: white;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 5px;
    left: 0;
    bottom: 0;
}

.add-text {
    color: #000000;
    margin-right: 15%;
}

.col1 {
    padding-bottom: 1pt;
}

.card {
    margin-top: 15pt;
}

.container {
    /*vertical-align: middle;*/
    text-align: center;
}

.row {
    padding-top: 15pt;
}

.row1 {
    padding-top: 1pt;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.inline {
    display: inline;
}

.sign {
    margin-top: 50%;
}

.plus-icon {
    vertical-align: middle;
}

.clickable:hover {
    color: cornflowerblue;
}
.footer .footer-widget{
    padding-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}


.reviews {
    color: #555;
    font-weight: bold;
}

.menuPagination{
    width: min-content;
    margin:0 auto;
    padding-top: 15px;
}

.container-fluid .card-block {
    min-height: 250px;
    min-width: 300px;
    margin-right: 5px;
    text-align: center;
}

.reviewCard {
    margin-top: 10px;
    margin-left: 10px;
}

.carouselRH {
    min-height: 52%;
    overflow: hidden;
}
.carouselRH img {
    height: auto;
    width: auto;
}
.tab-pane {
    padding-top: 20px;
}
.avatarWaiter{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.call_back{
  position:fixed; /*фиксированная позиция при прокрутке*/
  z-index:999;
  left: 3%; /*отступ с права*/
  top: 80%; /*отступ сверху*/
  margin-right:-50px; /*отрицательный отступ справа (чем длиннее название кнопки тем больше должно быть значение данного отступа )*/
}

/*Стили для ссылки*/
.call_back a{
  color:#fff!important; /*цвет ссылки*/
  display:block;
  background: #4AA02C; /*цвет фона кнопки*/
  font-size:1.2em; /*размер шрифта*/
  text-align:center; /*выравнивание по центру*/
  padding: 30px;
  border-radius:90%; /*радиус скругления углов*/
}
.call_back_accept{
  position:fixed; /*фиксированная позиция при прокрутке*/
  z-index:999;
  left: 3%; /*отступ с права*/
  top: 80%; /*отступ сверху*/
  margin-right:-50px; /*отрицательный отступ справа (чем длиннее название кнопки тем больше должно быть значение данного отступа )*/
}

.call_back_accept img{
  color:#fff!important; /*цвет ссылки*/
  display:block;
  height: 120px;
  width: 120px;
  text-align:center; /*выравнивание по центру*/
  border-radius:100%; /*радиус скругления углов*/
}

#form_pop_up{
  border:1px solid #ccc;
  padding:20px;
}
.loading {
  background: white;
  vertical-align: middle;
  height: 100%;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
}
.loading span{
  position: absolute;  /* подробнее про position: absolute; */
  top: 45%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}


.tag{
  border: 1px solid #000000;
  background-color: #00b0e8;
  border-radius: 10%;
  color: #FFFFFF;
  margin-left: 8px;
  padding-left: 5px;
  padding-right: 5px;
}





