<form action="/logout" method="post" id="logoutForm">
    <input type="hidden" name=""
           value=""/>
</form>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/welcome"><img src="/assets/images/logo.png"></a>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li  *ngFor="let category of categories" class="nav-item">
                <a class="nav-link" [routerLink]="['menu', category.name]">{{category.name}}</a>
            </li>
            <button type="button" class="btn btn-success nav-button" style="margin-right:10px;"
                    data-toggle="modal" data-target="#exampleModalWaiter">
                <span class="left-span"> Call a waiter  <i class="fa fa-bell" aria-hidden="true"></i></span>
            </button>
             <!--

            <li>
                <c:if test="${not empty orderMap || not empty orderedList}">
                    <a href="/order">
                        <button class="btn btn-info nav-button" style="margin-right:10px;">
                            <span class="left-span">Order  <i class="fa fa-coffee" aria-hidden="true"></i></span>
                        </button>
                    </a>
                </c:if>
                <c:if test="${empty orderMap && empty orderedList}">
                    <button class="btn btn-info nav-button" disabled style="margin-right:10px;">
                        <span class="left-span">Order  <i class="fa fa-coffee" aria-hidden="true"></i></span>
                    </button>
                </c:if>
                Your table is ${tables.currentTable}
            </li>
               //-->
        </ul>
    </div>
        <form action="/menu" method="get" class="form-inline">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search dish"/>
            <button type="submit" class="btn btn-default btn-lg nav-button btn-nav-search" style="margin-top: 10px">
                <i class="fa fa-search"></i>
            </button>
        </form>
            <!--

        <c:if test="${pageContext.request.userPrincipal.name != null}">
            <h6 style="color: lightgrey">
                Hi, ${pageContext.request.userPrincipal.name}
                <a href="javascript:formSubmit()"> Logout</a>
            </h6>
        </c:if>
        <c:if test="${pageContext.request.userPrincipal.name == null}">
            <a class="nav-link a-nav" href="/login">Log in <i class="fa fa-user" aria-hidden="true"></i></a>
        </c:if>
        //-->

        </nav>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <span class="add-text"> RestHub Inc. 	&#169;</span>
        <a href="#" class="add-text">Contact us </a>
        <span class="align-middle">Join us
              <button class="i-button" style="margin-left: 20px">
                  <i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button class="i-button"><i class="fa fa-twitter" aria-hidden="true"></i></button>
            <button class="i-button"><i class="fa fa-instagram" aria-hidden="true"></i></button>
        </span>
        <a href="#" class="add-text">Help</a>
    </div>
</footer>
