<p>
  waiter-tables works!
  {{tables}}
</p>
<div class="container" >
  <div class="row">
      <div class="card-deck">
          <div *ngFor="let i of tables" class="col-md-4 col-sm-6 col-xs-6">
            <div class="card">
              <img *ngIf="isOnDelivery(i.currentTable)" class="imageforDelivery" src="/images/delivery.jpg"/>
              <div [ngClass]="{hasNullWaiter:hasNullWaiter(i.currentTable)}">
                <div class="bell" *ngIf="isCalling(i.currentTable)">
                  <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
                </div>
                <div class="card-body">
                  <h1 class="card-title">{{i.currentTable}}</h1>
                  <a href="/waiter/orderdetails/{{i}}" class="btn btn-default btn-sm">Order details</a>
                  <div class="row">
                    <button onclick="doPOSTonGettingTable(i.currentTable)" class="btn btn-success btn-sm">Get this table</button>
                    <button onclick="doPOSTonCloseCalling(i.currentTable)" class="btn btn-default btn-sm">Accept calling</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<style>
  .isOfCurrentWaiter{
    background-color: lemonchiffon;
  }
  .hasNullWaiter{
    background-color: palegreen;
  }
  .isOnDelivery{

  }
  .isOfOtherWaiter{
    pointer-events: none;
    opacity: 0.4;
    background: gainsboro;
  }
  .imageforDelivery{
    position: absolute;
    width: 25%;
    height: 25%;
    margin-right: 100px;

  }
  .bell{
    position: absolute;
    margin-top: 0%;
    margin-left: 80%;

  }
</style>
